public/aces/niem_gov_structures.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:i="http://niem.gov/niem/appinfo/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://niem.gov/niem/structures/2.0" version="1">
    <xsd:import namespace="http://niem.gov/niem/appinfo/2.0" schemaLocation="niem_gov_appinfo_2_0.xsd"/>
    <xsd:annotation>
        <xsd:appinfo>
            <i:resource i:name="Object"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:annotation>
        <xsd:appinfo>
            <i:resource i:name="Association"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:attribute name="id" type="ID"/>
    <xsd:attribute name="linkMetadata" type="IDREFS"/>
    <xsd:attribute name="metadata" type="IDREFS"/>
    <xsd:attribute name="ref" type="IDREF"/>
    <xsd:attribute name="sequenceID" type="integer"/>
    <xsd:attributeGroup name="SimpleObjectAttributeGroup">
        <xsd:attribute ref="s:id"/>
        <xsd:attribute ref="s:metadata"/>
        <xsd:attribute ref="s:linkMetadata"/>
    </xsd:attributeGroup>
    <xsd:element abstract="true" name="Augmentation" type="s:AugmentationType"/>
    <xsd:element abstract="true" name="Metadata" type="s:MetadataType"/>
    <xsd:complexType abstract="true" name="AugmentationType">
        <xsd:attribute ref="s:id"/>
        <xsd:attribute ref="s:metadata"/>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="ComplexObjectType">
        <xsd:attribute ref="s:id"/>
        <xsd:attribute ref="s:metadata"/>
        <xsd:attribute ref="s:linkMetadata"/>
    </xsd:complexType>
    <xsd:complexType abstract="true" name="MetadataType">
        <xsd:attribute ref="s:id"/>
    </xsd:complexType>
    <xsd:complexType final="#all" name="ReferenceType">
        <xsd:attribute ref="s:id"/>
        <!-- tjd: require use of ref, per NDR: 
  The NIEM structures schema defines structures:ReferenceType 
  to require the use of an attribute structures:ref, 
  which is of type IDREF as specified by [XMLSchemaStructures]. 
      <attribute ref="s:ref"/>
  -->
        <xsd:attribute ref="s:ref" use="required"/>
        <xsd:attribute ref="s:linkMetadata"/>
    </xsd:complexType>
</xsd:schema>
